[core]
	excludesFile = ~/.gitignore
	pager = cat
[user]
	name = Matt Brophy
	email = matt@brophy.org
[alias]
	co = checkout
	pu = push --set-upstream
	pf = push --force-with-lease
	ass = add
	comit = commit
	pul = pull
[init]
	defaultBranch = main
[pull]
	ff = only
